 STATIC_ROOT=/app/staticfiles


# Django settings / env
MINIO_STORAGE_ENDPOINT=bendrive.darkube.app   # no http:// or https://
MINIO_STORAGE_USE_HTTPS=True
MINIO_STORAGE_ACCESS_KEY=066lnV6ay51a26v1uMMwo9A3piL8jFdR
MINIO_STORAGE_SECRET_KEY=LutSmJMie1WxaWNtfbWWb1ET5Pmk7t0x

# Buckets
MINIO_STORAGE_MEDIA_BUCKET_NAME=media
MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
MINIO_STORAGE_MEDIA_USE_PRESIGNED=True

# Public URL base used in links/presigns
MINIO_EXTERNAL_STORAGE_ENDPOINT=https://bendrive.darkube.app
MINIO_STORAGE_MEDIA_URL=${MINIO_EXTERNAL_STORAGE_ENDPOINT}/media



DB_NAME=default
DB_USER=base-user
DB_PASS=dDH1b-U2eV-PsD5GReXLlU@V
DB_HOST=411ded88c36c4c5ea69253bfdadb106a.db.arvandbaas.ir
DB_PORT=5432
