MINIO_STORAGE_ENDPOINT=minio-storage.benxfoxy.svc:9000
MINIO_STORAGE_ACCESS_KEY=066lnV6ay51a26v1uMMwo9A3piL8jFdR
MINIO_STORAGE_SECRET_KEY=LutSmJMie1WxaWNtfbWWb1ET5Pmk7t0x
MINIO_STORAGE_USE_HTTPS=False
MINIO_EXTERNAL_STORAGE_ENDPOINT=https://bendrive.darkube.app


DB_NAME=default
DB_USER=base-user
DB_PASS=dDH1b-U2eV-PsD5GReXLlU@V
DB_HOST=411ded88c36c4c5ea69253bfdadb106a.db.arvandbaas.ir
DB_PORT=5432
